language: python
python:
  - "2.7"
install:
  - pip install archelond
  - pip install -r archelond/test_requirements.txt
services:
  - elasticsearch
script:  bash test_archelond.sh -q
after_success:
  coveralls
