<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="apple-touch-icon" sizes="57x57"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='images/favicons/apple-touch-icon-180x180.png') }}">
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='images/favicons/favicon.ico') }}">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicons/favicon-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicons/favicon-160x160.png') }}" sizes="160x160">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='images/favicons/favicon-32x32.png') }}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage"
          content="{{ url_for('static', filename='images/favicons/mstile-144x144.png') }}">
    <meta name="msapplication-config"
          content="{{ url_for('static', filename='images/favicons/browserconfig.xml') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets filters='cssmin', output='gen/packed.css',
        'css/bootstrap.min.css', 'css/datatables.bootstrap.css',
        'css/site.css'
    %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
    {% endblock %}
    {% block extra_head %}{% endblock %}
    <title>
      {% block title %}
      {% endblock %}
      - Archelon
    </title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    {% block js %}
    {% assets filters='jsmin', output='gen/packed.js',
        'js/jquery-2.1.3.min.js', 'js/bootstrap.min.js',
        'js/jquery.dataTables.min.js', 'js/dataTables.bootstrap.min.js',
        'js/underscore-1.7.0-min.js', 'js/backbone-1.1.2-min.js',
        'js/handlebars-v2.0.0.js', 'js/moment-2.8.4-min.js',
        'js/datetime-moment.js'
    %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
