/* Primary site css */
.logo {
    position: absolute;
    left: 0;
    top: 0;
}

h1 {
    color: #0f382a;
}
#search-box {
    margin-top: 1.5em;
}
#token {
    margin-top: 1.5em;
}
#token-toggle {
    background-color: #3ebfcf;
}
#token-display {
    border: 1px solid #333;
    color: #ccc;
    margin: 0 0 .5em 0;
    padding: 2em;
    display: none;
    background: #56934a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiM1NjkzNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMzE3NDIwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxNzQyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #56934a 33%, #317420 100%, #317420 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#56934a), color-stop(100%,#317420), color-stop(100%,#317420)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #56934a 33%,#317420 100%,#317420 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #56934a 33%,#317420 100%,#317420 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #56934a 33%,#317420 100%,#317420 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #56934a 33%,#317420 100%,#317420 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56934a', endColorstr='#317420',GradientType=0 ); /* IE6-8 */
}

#history-table {
    table-layout: fixed;
    word-break: break-all;
}

li.paginate_button.active a{
    background-color: #3ebfcf;
    border-color: #3ebfcf;
}

.pagination>li>a, .pagination>li>span {
    color: #3ebfcf;
}

#history-table thead tr {
    background-color: #3b836c;
    color: #f0f0f0;
}
